* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Header */

body {
	font-family: 'Open Sans', sans-serif;
	height: auto;
	/* font-family: 'Poppins', sans-serif; */
}

header {
	background-image: url("images/bg-hero-desktop.svg");
	background-color: hsl(193, 100%, 96%);
	height: auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
}

.top {
	padding-bottom: 30px;
}

.top img {
	margin: 0 2rem;
	width: 25%;
}

.top button {
	padding: 13px;
	background-color: white;
	float: right;
	border: none;
	border-radius: 20px;
	width: 13%;
}

.main-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.intro-head {
	flex: 40%;
	margin: 0 2rem;

}

.intro-head h1, .intro-head p {
	padding: 20px 0;
}

.intro-head h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.intro-head button {
	padding: 15px;
	background-color: hsl(322, 100%, 66%);
	border: none;
	border-radius: 23px;
	width: 45%;
	color: white;
	font-weight: 400;
}

.intro-image {
	flex: 60%;
	padding: 20px;
}

/* Main */

main {
	height: auto;
	padding: 2rem; 
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
}

main section {
	display: inline-flex;
	padding: 3rem;
	border-style: outset;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
	border-radius: 10px;
}

.sec-div, .sec-img  {
	flex: 50%;
	gap: 10px;
}

.sec-img img {
	width: 250px;
}

/* .sec-img img {
	justify-content: flex-end;
} */

.sec-div h2, .sec-div p{
	padding: 20px 0;
}

.sec-div h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.sec-div p {
	font-weight: 50;
}

.main-foot {
	flex-direction: column;
	width: 55%;
	padding: 2rem;
	border-style: outset;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	height: auto;
	background-color: white;
	/* position: fixed; */
	/* position: absolute; */
	position: relative;
	top: 150px;
}
.main-foot h2, .main-foot button {
	padding: 15px 0;
}

.main-foot h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.main-foot button {
	padding: 15px;
	background-color: hsl(322, 100%, 66%);
	border: none;
	border-radius: 23px;
	width: 50%;
	color: white;
	transition: 0.3s;
}

button:hover {
	cursor: pointer;
}

.intro-head button:hover, .main-foot button:hover {
	background-color: hsl(324, 100%, 86%);
}


/* Footer */

footer {
	display: flex;
	height: auto;
	background-color: hsl(192, 100%, 9%);
	color: white;
	font-weight: 200;
	padding: 0 2rem;
	padding-top: 6.5rem;
	font-size: 1.3rem;
}

footer div {
	width: 33.3%;
}

.icon p, .icon img{
	padding: 10px 0;
}

.link td {
	padding-top: 8rem;
	padding: 15px;
	font-size: 1.3rem;
	color: white;
}

.socials {
	display: flex;
	flex-direction: column;
	
}

.socials p {
	align-self: flex-end;
	padding-top: 100px;
}


#logo {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1); 
	width: 40%;
}

/* Media Query */

 @media screen and ( max-width: 980px) {

 	header {
 		padding: 1.5rem 1rem;
 	}
	header, main, footer {
		font-size: 1rem;
	}
	.top {
		padding-bottom: 10px;
	}
 	p {
 		font-weight: 50;
 	}
 	h1, h2 {
 		font-weight: 500;
 	}
	.intro-head button {
		padding: 8px;
		width: 50%;
		font-weight: 200;
	}
	.main-foot {
		width: 55%;
		padding: 2rem 1rem;
	}
}

@media screen and (max-width: 768px) {

	body {
		text-align: center;
	}
	.top {
		text-align: justify;
	}
	p {
 		font-weight: 50;
 	}
 	h1, h2 {
 		font-weight: 500;
 	}
 	.top button, .intro-head button, .main-foot button {
 		padding: 8px;
 		font-size: 10px;
 	}
	header {
		padding: 15px;
	}
	.main-head {
		flex-direction: column;
		text-align: center;
	}
	.intro-head, .intro-image {
		flex: 90%;
	}
	main {
		margin: 1rem;
	}
	main section {
		display: block;
	}
	footer {
		flex-direction: column;
		padding: 2rem;
		text-align: left;
		padding-top: 6rem;
	}
	footer div {
		margin: 10px 0;
	}
	.icon p, .link p {
	padding: 5px 0;
	}
}

@media screen and (max-width: 500px) {

	body {
		font-size: 10px;
		text-align: center;
	}
	p {
 		font-weight: 50;
 	}
	 header, main, footer {
		font-size: 0.8rem;
	}
 	h1, h2 {
 		font-weight: 300;
 	}
 	.intro-head button {
 		padding: 5px;
 		font-size: 9px;
 	}
	 .top button {
		width: inherit;
	 }
	header {
		padding: 10px;
	}
	.main-head {
		flex-direction: column;
		text-align: center;
	}
	.intro-head, .intro-image {
		flex: 90%;
	}
	main {
		margin: 1rem;
	}
	main section {
		display: block;
		padding: 1rem;
	}

	.sec-img img {
	width: 150px;
	}

	.main-foot {
		width: 90%;
	}

	.main-foot button {
		padding: 5px;
		font-size: 8px;
	}

	footer {
		flex-direction: column;
		padding: 2rem;
		font-size: 10px;
		text-align: left;
		padding-top: 6rem;
	}
	footer div {
		margin: 10px 0;
	}
	.icon p, .link p {
	padding: 5px 0;
}
}